<div class="nav">
    <a href="/">Home</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

<a href="/create">Create Job</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

<a href="/alljobs">All Jobs</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

<a href="/apply">Apply For Jobs</a>&nbsp; &nbsp; &nbsp;
</div>